alias yt="youtube-dl --add-metadata"
alias ytdl="yt -o '%(uploader)s - %(title)s.%(ext)s'"
alias ytdla="yt --write-info-json --no-continue --download-archive '~/archive.log' -i --all-subs --embed-subs --embed-thumbnail -f '(bestvideo[vcodec^=avc1][height>=1080][fps>30]/bestvideo[vcodec=vp9.2][height>=1080][fps>30]/bestvideo[vcodec=vp9][height>=1080][fps>30]/bestvideo[vcodec^=av01][height>=1080]/bestvideo[vcodec=vp9.2][height>=1080]/bestvideo[vcodec=vp9][height>=1080]/bestvideo[height>=1080]/bestvideo[vcodec^=av01][height>=720][fps>30]/bestvideo[vcodec=vp9.2][height>=720][fps>30]/bestvideo[vcodec=vp9][height>=720][fps>30]/bestvideo[vcodec^=av01][height>=720]/bestvideo[vcodec=vp9.2][height>=720]/bestvideo[vcodec=vp9][height>=720]/bestvideo[height>=720]/bestvideo)+(bestaudio[acodec=opus]/bestaudio)/best' --merge-output-format mkv"
alias ytdlapl="ytdla -o '~/Desktop/%(playlist_uploader)s/%(playlist)s/%(playlist_index)s - %(title)s - %(id)s.%(ext)s'"
alias ytdlav="ytdla -o '~/Desktop/%(uploader)s/%(title)s - %(id)s.%(ext)s'"

alias yttomp3="~/doscricon/scripts/yttomp3.sh"
alias sc="~/doscricon/scripts/sc.sh"

alias flactomp3="~/doscricon/scripts/flac-to-mp3.sh"
alias ptac="~doscricon/scripts/pic-to-album-cover.sh"
alias musictree="tree --noreport --dirsfirst ~/Music > music.txt"
