alias yt-update="pip3 install -U youtube-dl --user"

alias yt="youtube-dl --add-metadata"
alias ytdl="~/doscricon/scripts/ytdl.sh"

alias ytthumb="youtube-dl --write-thumbnail --skip-download"
alias yttomp3="~/doscricon/scripts/yttomp3.sh"
alias sc="~/doscricon/scripts/sc.sh"

alias aac="~/doscricon/scripts/add-album-cover.sh"
alias flactomp3="~/doscricon/scripts/flac-to-mp3.sh"
alias ptac="~/doscricon/scripts/pic-to-album-cover.sh"
alias musictree="tree --noreport --dirsfirst ~/Music > music.txt"
alias ytthumbtac="~/doscricon/scripts/ytthumb-to-album-cover.sh"

alias fbdl="~/doscricon/scripts/fb.sh"
